@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
	background-image: url("../images/54.jpg");
	background-repeat: no-repeat;
    background-position: right top;
}

h1 {
	text-align: center;
	color: rgb(12,40,62);
	font-size: 5vw;
	font-family: 'Source Sans Pro', sans-serif;
}

button {
    background-color: rgb(12,40,62);
    border-radius: 5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
}

.b1{
	margin-right: 20px;
}

.b2{
	margin-left: 20px;
}
