@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

input[type=submit]
{
    background-color: blue; 
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

body {
	background-image: url("../images/54.jpg");
	background-repeat: no-repeat;
    background-position: right top;
}

button {
    background-color: green;
    border-radius: 5%;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

b {
   font-family: 'Source Sans Pro', sans-serif;
    color: black;
}

h1 {
    text-align: center;
    color: rgb(12,40,62);
    font-size: 5vw;
    font-family: 'Source Sans Pro', sans-serif;
}

th {
    background-color: green;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

td {
    background-color: red;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

th, td {
    padding: 5px;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
}
.logout {
    background-color: red;
}