{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Find Trains</title>
  <link rel="stylesheet" href="{% static 'css/findtrains.css' %}" />
</head>
<body>
  <center>
    <h1> Find Trains </h1>
     <form method="POST">{% csrf_token %}
  		<b>STATION CODE 1</b><br>
  		<input type="text" name="fstation"><br><br>
  		<b>STATION CODE 2</b><br>
 		<input type="text" name="sstation"><br><br>
 	    <input type="submit">
	</form> <br>
    <a href='{% url 'logout'%}'> <button class="lgt3"> Logout </button> </a><br>
  </center>
  <center>
  	{% if show %}
	<h2>Trains Available</h2>
	{% for trainno in trains %}
	<i>{{trainno.0}}</i><br>
	{% endfor %}<br>
	<a href='{% url 'traininfo'%}'> <button>Click Here to know Train Details </button></a><br>
	{% endif %}
  </center>
</body>
</html>
