{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" href="{% static 'css/login_success.css' %}" /> 
</head>
<body>
	<center>
		<h1> Welcome {{user.username}}! </h1>		
		<a href='{% url 'traininfo'%}'><button>Know About Trains</button></a>
		<a href='{% url 'findtrains'%}'><button>Find Trains Between Stations</button></a>
		<a href='{% url 'ticket'%}'><button>Book A Ticket</button></a>
		<a href='{% url 'logout'%}'> <button> Logout </button></a>
    </center>
</body>
</html>
