{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="{% static 'css/login_success.css' %}" />
</head>
<body>
	<center>
		<h1> Hi {{user.username}} </h1><br><br><br>
		<a href="/traininfo/"><button>Know About Trains</button></a><br><br>
		<a href="/findtrains/"><button>Find Trains Between Stations</button></a><br><br>
		<a href="/ticket/"><button>Book A Ticket</button></a><br><br><br><br><br><br><br><br><br>
		<a href="/logout/"> <button class="lgt1"> Logout </button></a>
    </center>
</body>
</html>
